@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes final-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink-fade-out {
  animation: fade-in-out 1s ease-in-out 4, final-fade-out 1s ease-in-out 4s forwards;
}
